{% for interface in interface_list['vlan'] %}
interface {{interface.name}}
 description {{ interface.desc|upper }}
 ip address {{ interface.ipaddress }} {{ interface.submark }}
 no shutdown
{% endfor %}